* {
	font-family: trebuchet ms, consolas, monospace;
}

#content {
	max-width: 900px;
	margin: 0 auto;
}

#gameCanvas {
	width: 100%;
	height: 390px;
	background: #021F2F;
}

#playerToken {
	position: absolute;
	width: 30px;
	height: 30px;
	background: #FFFFFF;
	z-index: 1; 
}

.btn-group {
	margin: 0 auto;
}

.coin {
	position: absolute;
	height: 30px;
	width: 30px;
	background: #FFFF00;
	border-radius: 100%;
}